* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Kameron", serif;
    font-weight: 2200;
    color: white;
    background-repeat: no-repeat;
    background-color: #000C29;
    background-position: center center;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #08090c;
    border-bottom: 1px solid #ccc;
}
  
.unidad {
    font-family: "Castoro", serif;
    font-weight: 900;
    font-style: italic;
  }

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 90px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

nav {
    font-family: "Kameron", serif;
    font-optical-sizing: auto;
    font-weight: 2200;
    font-style: normal;
    display: flex;
}

a {
    text-decoration: none;
    margin-right: 10px;
    color: white;
}

a:hover {
    color: rgb(92, 179, 249);
}

.introduccion {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    background-color: #001546;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    border: 1px solid #cbcbcb;
    text-align: justify;
}

.logo {
    width: 200px;
}

.flexEvolucion {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    background-color: #001546;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.tWeb{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    gap: 10px;
}

.tWeb .imgWeb {
    align-self: flex-end;
    margin-top: 10px;

}

.tWeb img {
    max-width: 100%;
}

.tWeb .imgTecWeb{
    border: 5px solid white;  
}

.encabezado{
    font-family: "Changa One", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    padding-bottom: 30px;
}

.tFrontend{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    gap: 10px;
}

.tFrontend .imgFrontend{
    align-self:center;
        margin-top: 10px;
        box-shadow: 10px 20px 30px 2px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 10px 20px 30px 2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 20px 30px 2px rgba(0, 0, 0, 0.75);
}

.tFrontend img{
    max-width: 300px;
    border: 5px solid white;
}



.tBackend{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    gap: 10px;
}

.tBackend .backendImg{
    align-self: center;
        margin-top: 10px;
        box-shadow: 10px 20px 30px 2px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 10px 20px 30px 2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 20px 30px 2px rgba(0, 0, 0, 0.75);
}

.tBackend img{
    max-width: 400px;
}

.introProyecto{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}

.introProyecto p{
    padding-left: 10px;
}
.introProyecto ul{
    padding-left:15px ;
}

.planProyecto{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}

.planProyecto ul{
    padding-left: 15px;
}
.planProyecto p{
    padding-left: 15px;
}

.repoilacionProyecto{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    text-align: justify;
    }
.repoilacionProyecto ul{
    padding-left: 15px;
}
.recopilacionProyecto p{
    padding-left: 15px;
}
.visualProyecto{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}
.visualProyecto ul{
    padding-left: 15px;
}
.visualProyecto p{
    padding-left: 15px;
}
.produccionProyecto{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    text-align: justify;
    
}


.produccionProyecto ul{
    padding-left: 15px;
}
.produccionProyecto{
    padding-left: 15px;
}
.lanzamientoProyecto{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    text-align: justify;

}
.lanzamientoProyecto ul{
    padding-left: 15px;
}
.lanzamientoProyecto p{
    padding-left: 15px;
}

.imgTecWeb{
    box-shadow: 10px 20px 30px 2px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 20px 30px 2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 20px 30px 2px rgba(0, 0, 0, 0.75);
}
.inicioArqui{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}

.servicioWeb{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}
.modeloCliente{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}
.componentesPrincipal{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}
.componentesPrincipal ul{
    padding-left: 20px;
}
.componentesWeb{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    border: 1px solid #6e6d6d;
    text-align: justify;
}
.componentesWeb ul{
    padding-left: 20px;
}
.modeloCapa{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}
.modeloCapa ul{
    padding-left: 20px;
}
.modelo2Capas{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}
.modelo2Capas ul{
    padding-left: 20px;
}

.modelo3Capas{
    font-size: 18px;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    border: 1px solid #6e6d6d;
    text-align: justify;
}
.modelo3Capas ul{
    padding-left: 20px;
}

.footerInicio {
    background-color: #08090c;
    border: 1px solid #ccc;
    text-align: center;
    position: fixed;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

footer {
    background-color: #08090c;
    border: 1px solid #ccc;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
    bottom: 0;
    width: 100%;
}

.eWeb{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    background-color: #001546;
    border: 1px solid #cbcbcb;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    gap: 10px;
    font-weight: 20px;
}

.eWeb .imgWeb {
    align-self: flex-end;
    margin-top: 10px;

}

.eWeb img {
    max-width: 100%;
}

.eWeb .imgEvoWeb{
    border: 5px solid white;  
    font-weight: 20px;
    width: 200px;
    box-shadow: 10px 20px 30px 2px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 20px 30px 2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 20px 30px 2px rgba(0, 0, 0, 0.75);
}
