* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #303030;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #08090c;
    border-bottom: 1px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    /* Ajusta la altura según tus necesidades */
    margin-right: 10px;
    border: 1px solid #ccc;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
    margin-right: 10px;
    color: white;
}

a:hover {
    color: aquamarine;
}

.introduccion {
    font-size: 18px;
    background-color: darkgray;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    /* Centra el bloque */
    padding: 20px;
    border: 1px solid #6e6d6d;
}