header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 50px;
    background-color: #08090c;
    color: white;
    border-bottom: 1px solid #ccc;

}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    align-items: top;
    height: 70px;
    margin-right: 10px;
    align-items: center;
    border: 1px solid #ccc;

}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #303030;

}

a {
    text-decoration: none;
    margin-right: 10px;
    color: white;
}

a:hover {
    color: aquamarine;
}

nav a {
    font-weight: 600;
}

nav {
    margin-top: 50px;
}